#library("gitignore")
#gi_fetch_templates("R")
# Created by https://www.gitignore.io/api/r
# Edit at https://www.gitignore.io/?templates=r


### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata
.Rprofile
.DS_Store

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/
  
# RStudio files
.Rproj.user/
.Rhistory
.RData
  
# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/
  
# Temporary files created by R markdown
*.utf8.md
*.knit.md

### R.Bookdown Stack ###
# R package: bookdown caching files
/*_files/
  
### work in progress data ###
0_functions/archive
I_time_pilot/archive
II_rater_pilot/archive
III_simulation_study/archive
IV_survey_builder/notebooks_/archive_
IV_survey_builder/template_files_/archive_
V_pre-registration/archive

### sensitive data ###

# demographics from user studies
I_time_pilot/response_data/validation_internal_pilot _3.0_October 28, 2021_04.34.sav
I_time_pilot/response_data/validation_internal_pilot _3.0_October 28, 2021_08.03.csv
I_time_pilot/response_data/validation_internal_pilot_3.0_Responses in Progress.csv
II_rater_pilot/response_data/prolific_export_619f3c47f6b78ee67274583e.csv
II_rater_pilot/response_data/annotation_number_estimation _2.2_November 28, 2021_07.51.csv

VI_data_collection_november_2022/response_data/annotation_run_1_April 5, 2023_06.28.csv
VI_data_collection_november_2022/response_data/annotation_run_1_April 5, 2023_06.23.csv
VI_data_collection_november_2022/response_data/prolific_export_637357bf150585a4675a4b6b.csv

# working data set
VI_data_collection_november_2022/intermediary_data/all_dt.RDS
VI_data_collection_november_2022/intermediary_data/working_df.RDS

# raw lyric data
IV_survey_builder/primary_data_/
IV_survey_builder/survey_files_/annotation_run_1_set_1.csv
IV_survey_builder/survey_files_/annotation_run_1_set_2.csv
IV_survey_builder/survey_files_/annotation_run_1_set_3.csv
IV_survey_builder/survey_files_/annotation_run_1_set_4.csv
IV_survey_builder/survey_files_/annotation_run_1_set_5.csv
IV_survey_builder/survey_files_/annotation_run_1_set_6.csv


  # End of https://www.gitignore.io/api/r